.config
config.asm
config.fate
config.h
config.log
config.mak
doc/config.texi
doc/examples/pc-uninstalled/
libavcodec/libavcodec.pc
libavdevice/libavdevice.pc
libavfilter/libavfilter.pc
libavformat/libavformat.pc
libavutil/avconfig.h
libavutil/libavutil.pc
libswresample/libswresample.pc
libswscale/libswscale.pc

*.o
*.d
.version
ffmpeg
ffmpeg_g
ffprobe
ffprobe_g
ffserver
ffserver_g
libavcodec/libavcodec.a
libavdevice/libavdevice.a
libavfilter/libavfilter.a
libavformat/libavformat.a
libavutil/ffversion.h
libavutil/libavutil.a
libpostproc/libpostproc.a
libpostproc/libpostproc.pc
libswresample/libswresample.a
libswscale/libswscale.a
doc/avoptions_codec.texi
doc/avoptions_format.texi
doc/print_options
